header {
  background-color: $primary-background-color;
  height: 170px;
}

.navTitle {
  color: white;
  font-size: 32px;
  position: absolute;
  left: 100px;
}

.homeButtonContainer {
  // position: relative;
  width: 90px;
  height: 90px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 3px;
  .homeButton {
    height: 90px;
    width: 90px;
    top: -2px;
    left: -2px;
    // position: absolute;
  }
  .homeButtonBackground {
    // position: absolute;
    height: 86px;
    width: 86px;
    left: 0;
    top: 0;
  }
}

.homeButtonContainer:hover {
  -ms-transform: rotate(12deg); /* IE 9 */
  -webkit-transform: rotate(12deg); /* Chrome, Safari, Opera */
  transform: rotate(6deg);
  border: 0;
}



.ba {
  border-style: none;
  border-width: 0;

}

.navButton:hover {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white, #ffe6ee); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white, #ffe6ee); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, white, #ffe6ee); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white, #ffe6ee); /* Standard syntax */
}

.hover-bg-white:focus {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white, #ffe6ee); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white, #ffe6ee); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, white, #ffe6ee); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white, #ffe6ee); /* Standard syntax */
}
