<!-- <h1 class="homeTitle">Blend Life</h1> -->
<div class="wrapper cf pv5">

  <div  class="fn fl-ns w-60-ns pr4-ns">
    <div class="homeLogoContainer relative">
      <div class="homeCircle"></div>
      <img class="homeLogoBackground absolute" src="images/ColourWave.gif">
      <img class="homeLogo absolute" src="/images/BlenderIcon9.png">
    </div>
  </div>

  <div class="aboutR fn fl-ns w-40-ns absolute">
    <ul>
      <li>blah vlakuhgkhjjkh</li>
      <li>blah vlakuhgkhjjkh</li>
      <li>blah vlakuhgkhjjkh</li>
      <li>blah vlakuhgkhjjkh</li>
    </ul>
  </div>

</div>

<div class="cf pv5">
  <div  class="aboutL fn fr-ns w-40-ns pr4-ns absolute">
    <ul>
      <li>blah vlakuhgkhjjkh</li>
      <li>blah vlakuhgkhjjkh</li>
      <li>blah vlakuhgkhjjkh</li>
      <li>blah vlakuhgkhjjkh</li>
    </ul>
  </div>
  <div class="fn fr-ns w-60-ns">
    <div class="homeLogoContainer jug relative">
      <div class="homeCircle jug"></div>
      <img class="homeLogoBackground jug absolute" src="images/ColourWave.gif">
      <img class="homeLogo jug absolute" src="/images/jugIcon.png">
    </div>
  </div>
</div>
