<!-- <h1 class="homeTitle">Blend Life</h1> -->
<div class="wrapper cf pv5 bb">
  <div  class="fn fl-ns w-60-ns pr4-ns">
    <div class="homeLogoContainer relative">
      <div class="homeCircle"></div>
      <img class="homeLogoBackground absolute" src="images/ColourWave.gif">
      <img class="homeLogo absolute" src="/images/BlenderIcon9.png">
    </div>
  </div>
  <div class="fl pa3 pa4-ns bg-white black-70 measure-narrow f3 times br3">
    <header class="bb b--black-70 pv4 br3">
      <h3 class="f2 fw7 ttu tracked black lh-title mt0 mb3 tc">Why Blend?</h3>
    </header>
    <section class="pt5 pb4">
      <p class="lh-copy measure f4 mt0">
        Imagine you have a glass of water and a plate of chicken, broccoli, and mushrooms.
        <br>
        If you were already imagining that, keep imagining it. Then consider a non-trivial question: Would it be better to eat it as it is, or blend it all together and drink it?
        <br>
        Not many people choose the latter.
        <br>
        But most people are wrong.
        <br>
        Why eat, when you can blend - and drink!
      </p>
    </section>
  </div>
</div>
<div class=" wrapper second cf pv5 ">
  <article data-name="article-full-bleed-background">
    <div class="cf" style="background: url(http://mrmrs.io/photos/12.jpg) no-repeat center center fixed; background-size: cover;">

      <div class="homeLogoContainer jug relative">
        <div class="homeCircle jug"></div>
        <img class="homeLogoBackground jug absolute" src="images/ColourWave.gif">
        <img class="homeLogo jug absolute" src="/images/jugIcon.png">
      </div>
      <div class="fl pa3 pa4-ns bg-white black-70 measure-narrow f3 br3">
        <header class="bb b--black-70 pv4 br3">
          <h3 class="f2 fw7 ttu tracked black lh-title mt0 mb3 tc">Testamonials</h3>
        </header>
        <section class="pt5 pb4">
          <p class="lh-copy measure f4 mt0">
            Tiger Woods - "Blending is great. I literally never eat anymore. I blend all my food, and all my drinks. I even blend my prescription medication."


          <br><span class="vSmall">Disclaimer - Tiger Woods didn't actually say this</span>
          </p>
        </section>
      </div>
    </div>
  </article>

  <div class="bottom">

  </div>
</div>
