<div>
  <h1>Submit a recipe</h1>
  <form name="vm.addRecipeForm" ng-submit="vm.create()" novalidate class="measure center">
    <div class="form-group">
      <label for="name">Name</label><br>
      <input class="form-control" type="text" name="name" ng-model="vm.recipe.name" placeholder="Name of your recipe..." required>
    </div>

    <div class="ng-message-error" ng-messages="vm.addRecipeForm.name.$error" ng-show="(vm.addRecipeForm.$submitted || vm.addRecipeForm.name.$touched)">
      <p ng-message="required">Recipes need to have a name</p>
    </div>

    <div class="form-group">
      <label for="description">Description</label><br>
      <textarea type="text" id="description" name="description" ng-model="vm.recipe.description" class="form-control" placeholder="Write the description of your recipe here" required></textarea>
    </div>

    <div class="ng-message-error" ng-messages="vm.addRecipeForm.description.$error" ng-show="(vm.addRecipeForm.$submitted || vm.addRecipeForm.description.$touched)">
      <p ng-message="required">Recipes need to have a description!</p>
    </div>

    <div class="form-group">
      <label for="ingredients">ingredients</label>
      <ul>
        <li ng-repeat="ingredient in vm.ingredients" ng-click="vm.selectIngredient($event, ingredient)" ng-class="{ selected: vm.selectedIngredients.indexOf(ingredient) !== -1 }">
          {{ ingredient.name }}
        </li>
      </ul>
    </div>



    <!-- <div class="form-group">
    <label for="ingredients">Ingredients</label><br>
    <select multiple id="ingredients"  name="ingredients" ng-model="vm.recipe.ingredient_ids" class="form-control" required>
    <option ng-repeat="ingredient in vm.ingredients" value="{{ ingredient.id }}">{{ ingredient.name }}</option>
  </select>
</div> -->


<!-- <div class="ingredientSelector">
<label for="ingredients">Ingredients</label><br>
<select id="ingredients"  name="ingredientSelector" ng-model="vm.selected" class="form-control" required>
<option ng-repeat="ingredient in vm.ingredients" value="{{ ingredient }}">{{ ingredient.name }}</option>
</select>
<button ng-click="select()">Add this ingredient</button>
</div>
{{ vm.selected }} -->
<!-- {{ vm.selected }}
<ul class="ng-scope">
<li ng-repeat="ingredient in vm.ingredients"><a ng-click=$paren"t.vm.select(ingredient)">{{ ingredient.name }}</a></li>
</ul> -->


<!-- {{ vm.recipe.ingredient_ids }} -->
<!-- {{ vm.selectedIngredients }} -->
<div ng-style="{ 'background-color': 'rgb({{vm.selected[0].colour }})' }" class="smoothie h5 w5 br-100 b--black shadow-3 ma3">
</div>

<!-- <div class="ng-message-error" ng-messages="vm.addRecipeForm.ingredients.$error" ng-show="(vm.addRecipeForm.$submitted || vm.addRecipeForm.ingredients.$touched)">
<p ng-message="required">Recipes need to have at least one ingredient!</p>
</div> -->

<input type="submit" value="Submit" />
</form>
</div>
