<h1 class="pageTitle">{{ vm.recipe.name }}</h1>

    <section>
      <p class="measure center">{{ vm.recipe.description }}</p>
      <p class="measure center">Ingredients:</p>
      <ul class="w-100 measure center">
        <li class="db fl w-50 pa3" ng-repeat="ingredient in vm.recipe.ingredients">
          <p>{{ ingredient.name }}</p>
          <div class="ingredientLogoContainerShow relative">
            <div class="ingredientLogoBackgroundShow absolute" style="background-color: rgb({{ ingredient.colour }})">
            </div>
            <img class="ingredientLogoShow absolute" ng-src="{{ ingredient.image }}">
          </div>
        </li>
      </ul>
    </section>
    <section class="measure center owner">
      <p>Submitted by: {{ vm.recipe.user.username }}</p>
      <img class="commentOwnerImage" ng-src="{{ vm.recipe.user.image }}">
    </section>
    <section class="measure center">
      <p class="measure center">Comments:</p>
      <ul class="measure center">
        <li ng-repeat="comment in vm.recipe.comments">
        <img class="commentUserImage" ng-src="{{ comment.user.image }}"><span>{{ comment.user.username }}:</span>
        <p>{{ comment.body }}</p>
        </li>
      </ul>

      <form class="measure center" ng-submit="vm.createComment()">
        <textarea name="comment" rows="8" cols="80" placeholder="Add a comment to this recipe..." ng-model="vm.comment.body"></textarea>
        <input type="submit" value="Submit" />
      </form>
    </section>
