// Import all of your scss files here

.selected {
  background: yellow;
}

ul {
  list-style: none;
}


.recipeLogoContainer {
  // position: relative;
  width: 400px;
  height: 400px;
  .recipeLogo {
    height: 300px;
    width: 300px;
    // position: absolute;
  }
  .recipeLogoColour {
    // position: absolute;
    height: 220px;
    width: 100px;
    left: 20%;
    top: 10%;
  }
}

.homeLogoContainer {
  // position: relative;
  width: 400px;
  height: 400px;
  .homeLogo {
    height: 550px;
    width: 300px;
    // position: absolute;
  }
  .homeLogoBackground {
    // position: absolute;
    height: 300px;
    width: 230px;
    left: 0;
    top: 10%;
  }
}

.homeButtonContainer {
  // position: relative;
  width: 90px;
  height: 90px;
  .homeButton {
    height: 90px;
    width: 90px;
    // position: absolute;
  }
  .homeButtonBackground {
    // position: absolute;
    height: 86px;
    width: 86px;
    left: 0;
    top: 0;
  }
}

.homeButtonContainer:hover {
  -ms-transform: rotate(12deg); /* IE 9 */
  -webkit-transform: rotate(12deg); /* Chrome, Safari, Opera */
  transform: rotate(12deg);
  border: 0;
}

.ingredientLogoContainer {
  // position: relative;
  width: 200px;
  height: 200px;
  .ingredientLogo {
    height: 200px;
    width: 200px;
    // position: absolute;
  }
  .ingredientLogoBackground {
    // position: absolute;
    height: 200px;
    width: 200px;
    left: 0;
    top: 0;
    // background-color: red;
  }
}
